{% extends 'base.html' %}

{% block content %}
<div class="container">

<form class="" action="" method="post">
  {{form.as_p}}
  {% csrf_token %}
  <div class="btn btn-default " aria-label="...">
    <input type="submit" name="" value="update">

  </div>
</form>
</div>


<div class="container">
{% if request.user.profile.is_owner %}
<h1>All User Operations</h1>
{% else %}
<h1>Your Operations</h1>
{% endif %}
{% for operation in operations %}
<div class="panel panel-default">
  <div class="panel-body">
    ({{operation.num1}}
    {{operation.operator}}
    {{operation.num2}})
    {{operation.timestamp}}
  </div>
</div>

{% endfor %}
</div>

{% endblock %}
